body {
    text-align: center;
    background-color: linear-gradient(to bottom left, #6699ff 0%, #6699ff 100%) !important;
}

p {
    display: contents;
    color: whitesmoke;
}

.div-img {
    text-align: center;

}

img {
    border-radius: 100%;
    width: 120px;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

/* Buttons */

.row {
    margin: 1rem;
}

.col {
    text-align: center;
}

text {
    font-family: "Source Sans Pro", sans-serif;
}

a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* Buttons */

button {
    width: 60%;
    height: 60px;
    text-align: center;
    background-color: steelblue;
}

.button {
    border-radius: 60px;
    border-style: solid;
    border-color: #11466F;
    border-width: 4px;
}

.button:hover {
    background-color: rgb(51, 94, 129);
    border-color: black;
}

input[type="button"] {
    outline: none;
}

button:active {
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline: 0;
}

/* Icons */
.fab,
.far,
.fas {
    margin-left: 2px;
    margin-right: 5px;
    color: whitesmoke;
}
